.App {
  text-align: center;
  overflow-y: hidden;
}

.side{
 position: absolute;
 top: 0;
 left: 0;
 height: 105%;
}

.header{
  position: absolute;
  z-index:20;
  top: 10%;
  left: 3%;
  font-family: 'Oxygen';
  color: white;
}
.logo {
  position: absolute;
  top: 10px;
  left: 3px;
  pointer-events: none;
}
.nav{
  z-index: 100;
}
.rside{
  height: 100%;
  position: absolute;
  left: calc(100% - 294px);
  top: 1%;

}
.addfile{
  height: 30px;
  width: 30px;
}

#home{
  padding-left: 20px;
}
.App-header {
  background: linear-gradient(94.47deg, rgba(155, 81, 224, 0.85) 0.54%, #7875E3 98.53%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.students{
  background: linear-gradient(94.47deg, rgba(155, 81, 224, 0.85) 0.54%, #7875E3 98.53%);
}

.student-header{
  position: absolute;
  z-index: 20;
  top: 10%;
  left: 20%;
  font-family: 'Oxygen';
  color: white;
}

.student-form{
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 20;
  width: 60%;
  text-align: left;
}

.student-form-text-padding{
  padding-top: 5%;
  padding-bottom: 15%;
}

.student-form-label{
  font-family: 'Oxygen';
  font-size: x-large;
  color: white;
}

.educators{
  background: linear-gradient(94.47deg, rgba(155, 81, 224, 0.85) 0.54%, #7875E3 98.53%);
}
.App-link {
  color: #61dafb;
}

body{
  overflow-y: hidden;
}