#no-padding{
  padding: 0;
}
.fixed {
    position: fixed !important;
    z-index: 6;
}
.background {
    background: white;
}
.question-maker {
    position: relative;
    top: 5em;
    left: 14%;
    width: 85%;
    margin-bottom: 8%;
}

.reward-margins {
    margin-bottom: 4%;
}

.question-form {
    text-align: left;
    padding: 2%;
    margin-bottom: 3%;
    box-shadow: 0px 5px 10px gray;
}

.question-form input {
    margin-right: 2vw;
}

.form-down-scroll {
    position: absolute;
    margin-top: 1.6%;
    right: -.5%;
}

.form-up-scroll {
    position: relative;
    margin-bottom: 1%;
}

.question-maker h1 {
    text-align: left;
    font-family: 'Oxygen';
    font-weight: bolder;
    font-size: 260%;
    padding-top: 1%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-top: 3px solid rgba(129, 88, 229, 1.0);
}

.question-maker h2 {
    text-align: left;
    font-family: 'Oxygen';
    font-weight: 550;
    font-size: 210%;
    padding-top: 1%;
    margin-bottom: 3%;
    border-top: 2px dashed rgba(47, 125, 246, 1.0);
}

.question-maker h3 {
    font-family: 'Oxygen';
    font-size: x-large;
    font-weight: 400;
    padding-bottom: 10px;
    color: black;
}

.question-viewer {
    width: 100%;
    text-align: left;
    padding: 1.5%;
    margin-bottom: 3%;
    box-shadow: 0px 5px 10px gray;
    background-color: rgba(227, 238, 255, 1.0)
}

.question-list {
    left: 10%;
    width: 100%;
    z-index: 30;
    margin-bottom: 4%;
}

.question-list ul {
    list-style-type: circle;
}

.question-list ul {
    font-family: 'Oxygen';
    font-size: large;
    font-weight: 400;
    padding-bottom: 10px;
    color: black;
}