.create-quiz{
    position: relative;
    padding: 5%;
}

.quiz-wrapper{
    margin-top: 3%;
    margin-left: 3%;
    width: 94%;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-grow: 4;
}

.quiz-card{
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 5px 10px rgba(81, 56, 115, 1.0);
    position: relative;
}

.quiz-card Button{
    margin-right: 2%;
    margin-left: 2%;
}

.form-div{
    margin-top: 5%;
    margin-left: 3%;
    place-items: center;
}

.form {
    box-shadow: 0px 5px 10px rgba(81, 56, 115, 1.0);
}

.form-btn{
    margin-top: 5%;
}