#no-padding{
  padding: 0;
}

.scroll {
    overflow-y: scroll;
}
.question-maker {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 80%;
}

.button-toolbar > input {
    box-shadow: 0px 0px 6px grey;
    margin-right: 2vw;
}

.button-toolbar {
    margin-bottom: 5%;
}

.question-list {
    left: 10%;
    width: 100%;
    z-index: 30;
    margin-bottom: 5%
}

.question-form {
    text-align: left;
    padding: 2%;
    margin-bottom: 3%;
    box-shadow: 0px 5px 10px gray;
}

.question-form h2 {
    font-family: 'Oxygen';
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 10px;
    color: black;
}